label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-primary);

  span {
    color: var(--ion-color-danger);
    margin-left: 4px;
  }
}

.dropdown-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin:0 auto 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-secondary);
  width: 300px;
  border-radius: var(--border-radius-sm);
  box-shadow: 1px 20px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.show {
    display: block;
  }
}

.dropdown-content {
  z-index: 9999 !important;
}

.dropdown-item {
  padding: 12px 16px;
  text-align: left;
}

.custom-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem 1rem;
  border: 1px solid var(--border);
  border-radius: var(--border-radius-md);
  background: var(--bg-secondary);
  color: var(--text-primary);
  font-size: 1rem;
  transition: var(--transition);

  .circle-chevron {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-primary);
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
  }

  .circle-chevron::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-left: 2px solid var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    transform: translate(-50%, -50%) rotate(314deg);
  }
}

.invalid-item {
  border: solid 1px #ef4444 !important;
}

.dropdown-item.selected {
  position: relative;
  padding-left: 1.5rem;

  &::before {
    content: '●';
    position: absolute;
    left: 4px;
    top: 10pxs;
    color: var(--accent-primary);
    font-size: 0.9rem;
  }
}

.custom-display {
  padding: 12px;
  width: 100%;
}
.placeholder {
  color: var(--text-muted);
  font-size: 14px;
}

/* ✅ Fallback for small screens */
@media (max-width: 330px) {
  .placeholder {
    font-size: 12px;
  }
}

.error-message {
  color: var(--ion-color-danger);
  font-size: 14px;
  margin: 4px auto;
  text-align: left;
}