<div class="dropdown-container">
  <label [for]="name()">{{label()}}</label>

  <div (click)="toggleDropDown()" class="custom-item" [class.invalid-item]="fc.touched && fc.invalid">

    <div class="custom-display" [class.placeholder]="selectedItems.length === 0">
      @if(selectedItems.length > 0){
      {{ selectedItems.join(', ') }}
      } @else{
      {{ placeholder() }}
      }
    </div>

    <div class="circle-chevron"></div>
  </div>

  <div class="dropdown-content" [class.show]="isDropdownOpen()">
    @for (item of options(); track item) {
    <div class="dropdown-item" (click)="onSelectItem(item)" [class.selected]="isSelected(item)">
      {{ item }}
    </div>
    }
  </div>

  @if (shouldShowErrorMessage()) {
  <div class="error-message">
    {{ getErrorMessage() | titlecase }}
  </div>
  }
</div>