<header class="header" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <a class="logo">
      Portfolio
    </a>

    <nav>
      <ul class="nav-links" [class.mobile-active]="isMobileMenuOpen">
        <li>
          <a (click)="setActive('/home')" [class.active]="activeRoute === '/home'">Home</a>
        </li>
        <li>
          <a (click)="setActive('/about')" [class.active]="activeRoute === '/about'">About</a>
        </li>
        <li>
          <a (click)="setActive('/skills')" [class.active]="activeRoute === '/skills'">Skills</a>
        </li>
        <li>
          <a (click)="setActive('/projects')" [class.active]="activeRoute === '/projects'">Projects</a>
        </li>
        <li>
          <a (click)="setActive('/contact')" [class.active]="activeRoute === '/contact'">Contact</a>
        </li>
      </ul>
    </nav>

    <div
      class="mobile-menu"
      [class.active]="isMobileMenuOpen"
      (click)="toggleMobileMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
