<header class="header" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <a class="logo" (click)="utilSer.onBackPress()" title="Go Back">
      <div class="avatar">
        <img src="assets/icon/favicon.svg" alt="">
      </div>
      Portfolio
    </a>

    <nav>
      <ul class="nav-links" [class.mobile-active]="isMobileMenuOpen">
        <li (click)="setActive('/home')">
          <a [class.active]="activeRoute === '/home'">Home</a>
        </li>
        <li (click)="setActive('/about')">
          <a [class.active]="activeRoute === '/about'">About</a>
        </li>
        <li (click)="setActive('/skills')">
          <a [class.active]="activeRoute === '/skills'">Skills</a>
        </li>
        <li (click)="setActive('/projects')">
          <a [class.active]="activeRoute === '/projects'">Projects</a>
        </li>
        <li (click)="setActive('/contact')">
          <a [class.active]="activeRoute === '/contact'">Contact</a>
        </li>
        <li (click)="setActive('/blogs')">
          <a [class.active]="activeRoute === '/blogs'">Blogs</a>
        </li>
        <!-- <li (click)="setActive('/admin/login')">
          <a [class.active]="activeRoute === '/admin/login'">Admin</a>
        </li> -->
      </ul>
    </nav>

    <div class="mobile-menu" [class.active]="isMobileMenuOpen" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>