<div class="projects-page">
  <!-- Header -->
  @if (projects.length > 0) { <div class="page-header">
    <button class="btn btn-primary add-btn" (click)="utilSer.navigateTo('/admin/add-project')">
      <i class="fas fa-plus"></i>
      Add New Project
    </button>
</div>
<app-project-cards [role]="'admin'" [activeFilter]="'all'" />
} @else {
<div class="projects-cta fade-in">
  <i class="fas fa-folder-open empty-icon"></i>
  <h3>No Project Yet </h3>
  <button class="btn btn-primary add-btn" (click)="utilSer.navigateTo('/admin/add-project')">
    <i class="fas fa-plus"></i>
    Add New Project
  </button>
</div>

}

</div>