<section class="hero">
  <div class="hero-container">
    <!-- LEFT CONTENT -->
    <div class="hero-content" [class.visible]="isVisible">
      <h1 class="hero-title">
        Hi, I'm <span class="accent">Muhammad Asif</span>
      </h1>
      <p class="hero-subtitle">
        Full-Stack
        {{ displayedText }}
        @if(showCursor){
        <span class="cursor">|</span>
        }
      </p>

      <button class="btn">Download CV</button>
    </div>

    <!-- RIGHT BACKGROUND IMAGE -->
    <div class="hero-visual" [class.visible]="isVisible">
      <div class="image-background"></div>
    </div>
  </div>
</section>
