/* Import third-party styles and core Ionic styles at the top */
@use '@ionic/angular/css/core.css';
@use '@ionic/angular/css/normalize.css';
@use '@ionic/angular/css/structure.css';
@use '@ionic/angular/css/typography.css';
@use '@ionic/angular/css/display.css';
@use '@ionic/angular/css/padding.css';
@use '@ionic/angular/css/float-elements.css';
@use '@ionic/angular/css/text-alignment.css';
@use '@ionic/angular/css/text-transformation.css';
@use '@ionic/angular/css/flex-utils.css';
@use '@fortawesome/fontawesome-free/css/all.min.css';

/* Import your custom admin styles */
@use '../src/app/Admin/admin-styles' as *;

/* Global styles should follow */
* {
  user-select: none;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading) !important;
}
p{
  font-family: var(--font-primary) !important;
}
body {
  font-family: var(--font-primary);
  background-color: #0a0f1c; /* Fallback for dark theme */
  color: #ffffff; /* Fallback for dark theme */
}

.custom-toast-container {
  position: fixed;
  top: 30px;            
  right: 20px;          
  z-index: 9999;              
  max-width: 90vw;         
}